<div>
    <h3>Корзина</h3>
    <span ng-if="cart.items.length == 0">Корзина пуста</span>
    <table class="table table-hover" cellpadding="0" cellspacing="0" ng-if="cart.items.length > 0">
        <tr>
            <td>Название</td>
            <td>Категория</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
        <tbody>

        <tr ng-repeat="oi in cart.items">
            <td>{{oi.productTitle}}</td>
            <td>{{oi.categoryTitle}}</td>
            <td>
                <button class="btn btn-success" ng-click="decrementItem(oi.productId)">-</button>
                {{oi.quantity}}
                <button class="btn btn-success" ng-click="incrementItem(oi.productId)">+</button>
                <button class="btn btn-danger" ng-click="removeItem(oi.productId)">X</button>
            </td>
            <td>{{oi.pricePerProduct + ' * ' + oi.quantity + ' = ' + oi.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Итоговая стоимость</td>
            <td>{{cart.price}}</td>
        </tr>
        </tbody>
    </table>
    <form novalidate ng-submit="createOrder()" ng-show="cart.items.length > 0">
        <div class="form-group col-md-6">
            <label for="orderAddress">Адрес доставки</label>
            <input class="form-control" type="text" ng-model="ord.address" id="orderAddress">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Оформить заказ</button>
        </div>
    </form>
</div>